# Node modules
node_modules/

# Environment variables
.env

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS-specific files
.DS_Store
Thumbs.db
desktop.ini

# Build outputs
/dist/
/build/
/cache/
/out/

# Coverage reports
/coverage/

# Temporary files
*.tmp
*.temp
*.swp

# Editor directories
.vscode/
.idea/
*.iml
